nav {
  display: inline-flex;

}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 100px;
  border-bottom-color: black;
}

.my_times {
  justify-content:flex-start;
  color: mediumaquamarine;
}

.nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

h5{
  display: inline;
  margin: 9px;
}

img {
  float: left
}
