nav {
  display: inline-flex;

}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
   display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
}

.logo {
  color: MediumAquamarine;
display: flex;
  align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.nav {
  display: flex;
    justify-content: flex-end;
  text-decoration: underline;
}

h5{
  display: inline;
  margin: 9px;
}

.column{
  display: flex;
    position: relative;
    top: 81px;
    z-index: 5;
    border: 1px solid black;
    z-index: 1;
s

}

.large,
.medium,
.small {
  margin-right: 32px;
  display: flex;
    flex-flow: column;
}

.large div,
.medium div,
.small div{
  display: block;
    border: 1px solid black;
    margin: 3px;

}

p{
  display: block;
}

/**.large.column{
  width: 630px;
}

.medium.column{
  width:300px;
}

.small.column{
  width: 240px;
} **/

.large {
  width: 630px;
  align-items: center;
}

.medium{
  width: 300px;
}

.small{
  width: 240px;
}

.body{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;

}

#mother{
  width: 100% auto;
  height: 300px;
  font-size: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png")

}

#earth{
  width: 100%;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png"), url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png")
}

#cameras{
  width: 100%;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png"), url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png")
}

#cats{
  width: 100%;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png")
}

 .image{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.left,
.right{
  width: 300px;
  display: inline-flex;
    position: relative;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
}

.left_and_right{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
